@use "../abstracts/" as *;
header {
  padding-top: 10px;
  padding-bottom: 10px;
  @media (max-width: 1150px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  .top-header {
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: $color-gray;
    &__left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .timenow {
        margin: 0px 0px 0px 20px;
        padding: 0px 0px 0px 15px;
        border-left: 1px solid $color-gray-light;
        @media (max-width: 920px) {
          display: none;
        }
      }
    }
    &__right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      .newlest-header,
      .international {
        border-radius: 3px;
        border: 1px solid $color-gray-light;
        padding: 0 15px;
        line-height: 30px;
        display: flex;
        align-items: center;
        gap: 9px;
      }
      .newlest-header {
        @media (max-width: 580px) {
          display: none;
        }
      }
      .clock {
        font-size: 16px;
      }
      form {
        @media (max-width: 750px) {
          display: none;
        }
        padding: 0px 0px 0px 15px;
        border-left: 1px solid $color-gray-light;
        position: relative;
        input {
          border-color: $color-gray-light;
          border-radius: 16px;
          border-style: solid;
          border-width: 1px;
          color: #4f4f4f;
          font-family: inherit;
          font-size: 15px;
          line-height: 32px;
          padding: 0px 30px 0px 14px;
          max-width: 140px;
        }
        .search-icon {
          position: absolute;
          right: 8px;
          top: 9px;
          font-size: 16px;
        }
      }
      .login {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        .person {
          font-size: 17px;
          color: $color-gray;
        }
      }
    }
  }
}
