// COLORS
$color-black: #222222;
$color-black-plus: #4f4f4f;
$color-gray: #757575;
$color-gray-light: #e5e5e5;

$default-font-color: $color-black;

// FONT
$default-font-family: arial;
$font-merry: "Merriweather", serif; //400 //700
$default-font-size: 14px;

//HOVER
$default-hover: #087cce;

// 12rem 14rem 10 20
$wrapper: 1920px;
$container: 1130px;
$nav-container: 1370px;
